{{#if @people.length }}
  <ul class="custom-list">
    {{#each @people as |person|}}
      <li>
        <LinkTo @route="person" @model={{person}}>
          {{person.name}}
        </LinkTo>
        <small>{{person.age}} years old</small>
        <button type="button" {{on "click" (fn @onRemove person)}}>X</button>
      </li>
    {{/each}}
  </ul>
{{else}}
  Nothing to see here so far...<br>
{{/if}}