{{page-title "People"}}

<Jumbo @title="People">
  <PeopleList @people={{@model.people}} @onRemove={{this.removePerson}} />
  <br>
  <h3>Statistics</h3>
  <FriendStatistics @data={{@model.statistics.friends}} @title="Person with most friends" />
  <FriendStatistics @data={{@model.statistics.friendof}} @title="Friend of most people" />
</Jumbo>
<Jumbo @hideHamster="true" @title="Add a person">
  <form {{on "submit" this.createPerson}} >
    <dl>
      <dt>Name</dt>
      <dd>
        <Input @value={{this.newName}}
               placeholder="John Doe" />
      </dd>
      <dt>Age</dt>
      <dd>
        <Input @value={{this.newAge}}
               placeholder="30"
               @type="number"
               min="0"
               max="150" />
      </dd>
    </dl><br>
    <button class="button button-smaller" type="submit">Add person</button>
  </form>
</Jumbo>
<Jumbo @hideHamster="true" @title="Making friends">
  {{#if @model.people.length }}
    <form {{on "submit" this.createFriendship}} >
      <dl>
        <dt>Let person</dt>
        <dd>
          <Form::Select
            @value={{this.newFriendSubjectId}}
            @onChange={{action (mut this.newFriendSubjectId)}}
            @options={{this.selectOptions}}
          />
        </dd>
        <dt>have a new friend in</dt>
        <dd>
          <Form::Select
            @value={{this.newFriendObjectId}}
            @onChange={{action (mut this.newFriendObjectId)}}
            @options={{this.selectOptions}}
          />
        </dd>
      </dl><br>
      <button class="button button-smaller" type="submit">Make them friends</button>
    </form>
  {{else}}
    Start by adding a person...
  {{/if}}
</Jumbo>