{{page-title "People"}}

<Jumbo @title="People">
  <Search @onSearch={{this.setSearchResults}} />
  {{#unless this.searchPerformed}}
    <PeopleList @people={{@model}} @onRemove={{this.removePerson}} />
  {{else}}
    {{#if this.searchResults}}
      <PeopleList @people={{this.searchResults}} @onRemove={{this.removePerson}} />
    {{else}}
      <br><br>
      <p>
        Nothing matches your search query...
      </p>
    {{/if}}
  {{/unless}}
  <br>
  <FriendStatistics />
</Jumbo>
<Jumbo @hideHamster="true" @title="Add a person">
  <form {{on "submit" this.createPerson}} >
    <dl>
      <dt>Name</dt>
      <dd>
        <Input @value={{this.newName}}
               placeholder="John Doe" />
      </dd>
      <dt>Age</dt>
      <dd>
        <Input @value={{this.newAge}}
               placeholder="30"
               @type="number"
               min="0"
               max="150" />
      </dd>
    </dl><br>
    <button class="button button-smaller" type="submit">Add person</button>
  </form>
</Jumbo>
<Jumbo @hideHamster="true" @title="Making friends">
  {{#if @model.length }}
    <form {{on "submit" this.createFriendship}} >
      <dl>
        <dt>Let person</dt>
        <dd>
          <Form::Select
            @value={{this.newFriendSubjectId}}
            @onChange={{action (mut this.newFriendSubjectId)}}
            @options={{this.selectOptions}}
          />
        </dd>
        <dt>have a new friend in</dt>
        <dd>
          <Form::Select
            @value={{this.newFriendObjectId}}
            @onChange={{action (mut this.newFriendObjectId)}}
            @options={{this.selectOptions}}
          />
        </dd>
      </dl><br>
      <button class="button button-smaller" type="submit">Make them friends</button>
    </form>
  {{else}}
    Start by adding a person...
  {{/if}}
</Jumbo>