{{page-title "Personal detail of " @model.name}}

<Jumbo @title={{@model.name}}>
  <ul>
    <li>Age: {{@model.age}}</li>
  </ul>
  <button class="button button-smaller button-red" type="button" {{on "click" (fn this.removePerson @model)}}>Remove</button>
  <br><br>
  <h3>My friends are</h3>
  <PeopleList @people={{@model.friends}} @onRemove={{fn this.removeFriend @model}} />
  <br>
  <h3>I am a friend of</h3>
  <PeopleList @people={{@model.friendof}} @onRemove={{fn this.removeFriendOf @model}} />
</Jumbo>