{{page-title "Personal detail of " @model.name}}

<Jumbo @title={{@model.name}}>
  <form enctype="multipart/form-data" {{on "submit" (fn this.saveEdit @model)}}>
    <ul class="custom-list">
      <li>
        Age:
        {{#if this.edit }}
          <Input @type="number" @value={{@model.age}} />
        {{else}}
          {{@model.age}}
        {{/if}}
      </li>
      <li>
        Account:
        {{#if this.edit }}
          TODO
        {{else}}
          {{if @model.account @model.account.name "-"}}

        {{/if}}
      </li>
      <li>
        Avatar:
        {{#if this.edit }}
          <input
            accept="image/png,image/jpeg,image/gif"
            type="file"
            name="file"
          />
        {{else}}
          <img src="{{@model.avatarUrl}}" alt="Avatar of {{@model.name}}" class="person-avatar" />
        {{/if}}
      </li>
    </ul>
    {{#if this.edit }}
      <button class="button button-smaller" type="submit">Save</button>
    {{else}}
      <button class="button button-smaller" type="button" {{on "click" this.toggleEdit}}>Edit</button>
    {{/if}}
    {{#if this.session.isAuthenticated }}
      <button class="button button-smaller button-red" type="button" {{on "click" (fn this.claimPerson @model)}}>Claim this person</button>
    {{/if}}
    <button class="button button-smaller button-red" type="button" {{on "click" (fn this.removePerson @model)}}>Remove</button>
  </form>

  <br><br>
  <h3>My friends are</h3>
  <PeopleList @people={{@model.friends}} @onRemove={{fn this.removeFriend @model}} />
  <br>
  {{#if this.authenticated }}
    <h4>Steal friends for myself</h4>
  {{else}}
    <h4>Select the thief to steal the friends</h4>
    <Form::Select
      @value={{this.stealToId}}
      @onChange={{action (mut this.stealToId)}}
      @options={{this.selectOptions}}
    />
  {{/if}}
  <button class="button button-smaller" type="button" {{on "click" (fn this.steal @model)}}>Steal</button><br>
  <br>
  <br>
  <h3>I am a friend of</h3>
  <PeopleList @people={{@model.friendof}} @onRemove={{fn this.removeFriendOf @model}} />
</Jumbo>